

#title{
    background-color: #ff4c68;
    padding-left: 15%;
    padding-right: 15%;
}

nav{
    margin-top: 5%;
}

nav a {
    color: white !important ;
}

nav button{
    color: white !important;
}

.navbar-toggler-icon{
    color: white !important;
}

.nav-link{
    font-size: 1.2rem;
    font-family:sans-serif;
    color: lightgrey;
}


.navbar-brand {
    color: white !important;
    font-weight: 500 !important;
    font-size: 2.5rem !important;
    font-family: 'Ubuntu' , sans-serif !important;
}

#heading{
    font-size: 3.5rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.dog-img{
    width: 50%;
    /* height: auto; */
    /* height: 100%; */
    transform: rotate(30deg);
    position: absolute;
    right: 25%;
}

#features{
    padding-bottom:7% ;
    padding-top: 10%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.features i {
    font-size: 3.5rem;
    color: #EF8172;
    margin-left: 45%;
}


.features i:hover {
    /* font-size: 3rem; */
    color: #ff4c68;
}

.features h3 , .features p {
    text-align: center;
    /* padding: 10px; */
}

.features p {
    padding: 5px 40px;
    color: #8f8f8f;
}

#testimonials{
    background-color: #EF8172;
    text-align: center;
}

.carousel-item{
    padding: 7% 15%;
}

#testimonials h2{
    color: white;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

#testimonials img{
    border-radius: 100%;
    margin: 20px;
    width: 15%;
}

#press{
    background-color: #EF8172;
    text-align: center;
    padding: 0 15%;
}

#press img{
    width: 15%;
    margin: 20px 15px ;
    margin-bottom: 50px;
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: white;
    padding: 7% 15%;
}

#cta h3{
    margin-bottom: 4%;
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: 'Montserrat' , 'sans-serif' ;
}

#pricing{
    text-align: center;
    padding:7% 10%;
    padding-bottom: 5% ;
}

#pricing h2{
    font-size: 2.5rem;
    font-family: 'Montserrat' , 'sans-serif';
    line-height: 1.5;
}

.card-header h3{
    font-family: 'Montserrat' , 'sans-serif';
}


#footer {

	text-align: center;
	padding: 7% 15%;
}

.footer-icon {

	color: black;
	margin: 3% 3%;
}

.footer-icon:hover {
	color: #ff4c68;
}

@media (max-width: 1028px) {

	.dog-img {
        width: 60%;
		transform: rotate(0);
		position: static;
	}

	#title {

		text-align: center;
	}
}