
#title{
    background-color: #ff4c68;
    /* background-color: black; */
    padding-left: 15%;
    padding-right: 15%;
}


nav a {
    color: white !important ;
}

nav button{
    /* border: 1px solid white !important; */
    color: white !important;
}

.navbar-toggler-icon{
    color: white !important;
}

.nav-link{
    font-size: 1.2rem;
    font-family:sans-serif;
    color: lightgrey;
}


.navbar-brand {
    color: white !important;
    font-weight: 500 !important;
    font-size: 2.5rem !important;
    font-family: 'Ubuntu' , sans-serif !important;
}

#heading{
    font-size: 3.5rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.dog-img{
    width: 60%;
    height: 100%;
    transform: rotate(30deg);
    /* padding: 30px */
}